<%= form_with(model: sessions, local: true) do |form| %>
  <% if sessions.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sessions.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% sessions.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
