<h1>Welcome to Qtyme</h1>

<input type="text" placeholder="Find Your Store" id="searchbar">

<h2>Helping you get live wait times for the grocery stores in your area</h2>

<div class="Instructional">

<ol class="Header">How to Use
  <li>Sign In or Set Up New Account</li>
  <li>Enter location, and select your favorite grocery store(s)</li>
  <li>When you're ready to grocery shop, simply select the store you're at, then click 'In Line' to start the timer</li>
  <li>As soon as you're in the store, click "Done" to stop the timer</li>
  <li>That's it! Thanks for helping your community stay safe during the pandemic</li>
</ol>

<footer>&copy;2020 Qtyme Web Application</footer>

</div>