<p>Additional Resources</p>


<ul>
<li><a class="info" href="https://landing.google.com/screener/covid19" target="_blank">Covid-19 Symptom Self-Assessment</a></li>
<li><a class="info" href="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6" target="_blank">COVID-19 Dashboard by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University (JHU)</a></li>
<li><a class="info" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/when-and-how-to-use-masks" target="_blank">Coronavirus disease (COVID-19) advice for the public: When and how to use masks</a></li>
<li><a class="info" href="https://www.mentalhealth.org.uk/publications/looking-after-your-mental-health-during-coronavirus-outbreak" target="_blank">Looking after your mental health during the coronavirus outbreak</a></li>
</ul>