    <h1>We Like</h1>
    <p class="why">At Qtime we like spending time with our families, protecting those we care about, and doing our part to make our communities safer. The idea for Qtime came to us while waiting in line at the grocery store, and we realized that not only were there many other people out there who didn't like to wait, but there were also those who couldn't: workers who needed to get back before their lunch break was over, fathers and mothers who need to get back home to help take care of their kids, and those who find standing for long periods of time uncomfortable or painful.</p>

    <p class="hope">We hope you find Qtime helpful, and that it brings more control and ease into your days that are already filled with a bit more uncertainty than we're all used to. Much love, from our families to yours.</p>
    <footer>&copy;2020 Qtyme Web Application</footer>

    <script>import simplejson, urllib

GEOCODE_BASE_URL = 'https://maps.googleapis.com/maps/api/places/json'

def places(address, **geo_args):
    geo_args.update({
        'address': address
    })

    url = GEOCODE_BASE_URL + '?' + urllib.urlencode(geo_args)
    result = simplejson.load(urllib.urlopen(url))

    print simplejson.dumps([s['formatted_address'] for s in result['results']], indent=2)

if __name__ == '__main__':
    places(address="San+Francisco")</script>