// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Montserrat';
}

h1 {
  font-size: 20px;
  margin: 0px 10px;
}

footer {
  font-size: 14px;
  float: center;
  margin: 20px;
}

.why {
  font-size: 14px;
  float: center;
  margin: 20px;
}

.hope {
  font-size: 14px;
  float: center;
  margin: 20px;
}