// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Color Variables
$coral: #fe8a71;
$yellow: #f6cd61;
$gold: #ffb900;
$teal: #3da4ab;
$dark-teal: #0e9aa7;
$grey: #4a4e4d;


// Overall Site styles
body {
  font-family: Avenir, sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 50px 0 30px;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 1rem 0 .5rem;
}

ol {
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
}

li {
  font-weight: normal;
  font-size: 18px;
  list-style-position: inside;
  padding: 10px 3px;
}

.italic {
  font-style: italic;
}

.centered {
  display: inline-block;
  text-align: center;
}


// Header styles
#header {
  text-align: center;
}

.logo {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  &:hover {
    opacity: .8;
  }
}

.button {
  font-size: 14px;
  padding: 10px 24px;
  display: inline;
  margin: 5px;
  color: black;
  border-radius: 5px;
  a {
    text-decoration: none;
    color: black;
    position: relative;
    width: 100%;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: -12px;
      transform: translateY(-50%);
      display: block;
      border-radius: 28px;
      background: $coral;
      height: 45px;
      width: 45px;
      transition: all .4s ease;
      z-index: -1;
    }
    &:hover {
      &:after {
        width: 150%;
        left: -25%;
      }
    }
  }
}

.left, .right {
  display: inline-block;
  vertical-align: middle;
}


// Homepage styles
form {
  text-align: center;
}
#searchbar {
  padding: 10px 20px;
  margin: 0 0 10px;
  display: inline-block;
  height: 20px;
  width: 300px;
  font-size: 14px;
  color: $grey;
  border-radius: 20px;
}

.helping {
  width: 100%;
  font-size: 14px;
  margin-bottom: 30px;
}


