// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: white;
  font-family: Avenir, sans-serif;
}

h1 {
  justify-content: center;
  /*border: 2px solid black;
  border-radius: 5px;*/
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 10px;
  padding-top: 50px;
  padding-left: 50px;
}

h2 {
  /*border: 2px solid black;
  border-radius: 5px;*/
  float: center;
  margin-left: 360px;
  padding: 10px;
  font-style: italic;
  font-size: 14px;
}

ol {
  font-weight: bold;
  font-size: 20px;
  /*border: 2px solid black;
  border-radius: 5px;*/
  padding-left: 10px;
}

li {
  font-weight: normal;
  font-size: 18px;
  list-style-position: inside;
  /*border: 2px solid black;
  border-radius: 5px;*/
  padding: 10px 3px;
}

#signin {
  float: right;
  font-size: 14px;
  background-color: #D8BFD8;
  color: black;
  border-radius: 5px;
  padding: 10px 24px;
  margin-right: 10px;
  border: 1px #D8BFD8 solid;
  text-align: center;
}

.button {
  font-size: 14px;
  padding: 10px 24px;
  display: inline;
  margin: 5px;
  color: black;
  border-radius: 5px;
  a {
    text-decoration: none;
    color: black;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: -15px;
      left: 0px;
      display: block;
      border-radius: 28px;
      background: #D8BFD8;
      width: 45px;
      height: 45px;
      transition: all .3s ease;
    }
  &:hover {
    &:after {
      width: 100%;
     }
    }
  }
  a:hover {

  }
}

li.fright {
  float: right;
}

li.fleft {
  float: left;
}

#searchbar {
  
  padding: 10px 24px;
  margin-left: 400px;
  display: inline;
  height: 20px;
  width: 300px;
  font-size: 14px;
  font-color: gray;
  border-radius: 20px;
}


