<div id="status">
  <div id="currentstore">

  </div>
<button id="lineStatus">In Line!</button>

</div>

<script>
  let name = localStorage.getItem("currentStore");
    document.querySelector('#currentstore').innerText = "You are at " + name + "!";

  function lineWait() {
    document.querySelector('#lineStatus').innerText = 'In Store!';
  }

  $('#lineStatus').click(lineWait);

</script> 