<div>
  <ul>
    <li class="button fright" id="signin"><%= link_to "Sign Up", new_user_path %></li>
    <li class="button fright"><%= link_to "Login", login_path %></li>
    <li class="button fright"> <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank"> COVID-19 Resources </a> </li>
    <li class="button fleft"> <%= link_to 'About Us', about_path %></li>
    <li class="button fleft"><span>Additional Resources</span></li>
    <li class="button fleft"><%= link_to 'Home', home_path%></li>
  </ul>
</div>