<div>
  <ul>
    <li class="button fright" id="signin"><span>Sign Up</span></li>
    <li class="button fright"><span>Log In</span></li>
    <li class="button fright"> <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank"> COVID-19 Resources </a> </li>
    <li class="button fleft"> <%= link_to 'About Us', about_path %></li>
    <li class="button fleft"><span>Stores</span></li>
    <li class="button fleft"><%= link_to 'Home', home_path%></li>
  </ul>
</div>